
@font-face {
    font-family: OpenSans;
    src: url('fonts/OpenSans/OpenSans-Regular.ttf');
}

body{
    font-family: OpenSans;
}

input.no-arrows::-webkit-outer-spin-button,
input.no-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input.no-arrows[type=number] {
    -moz-appearance: textfield;
}

.urls-inputs-container {
    border: 1px solid #eee;
    border-radius: 10px;
    overflow: hidden;
}

.row.odd {
    border-bottom: 1px solid #eee;
}

.row.odd:last-child {
    border-bottom: none;
}

.row.odd:nth-child(2n+1) {
    background-color: #e8e8e8;
}

.row.odd:hover {
    background-color: #b3b3b3;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab span {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab span:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab span.active {
    background-color: #ccc;
}


/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
.tablinks {
    display: inline-block;
    padding: 20px;
}
.tabcontent.active{
    display: block;
}

.hidden{
    display: none;
}
.pd30 {
    padding-top:30px;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 100ms;
    visibility: hidden;
    opacity: 0;
}
.overlay.active {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 1s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #06D85F;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}